.accordion
  margin: 15px 0
  background-color: $secondary-color
  border-radius: 5px

.accordion-title
  display: flex
  justify-content: space-between
  padding: 10px 20px
  border-radius: 5px
  background-color: $primary-color
  color: white
  cursor: pointer
  &:hover
    background-color: $primary-color-hover

.accordion-content
  padding: 20px
