.footer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-top: 90px
  height: 209px
  color: white
  svg
    margin: 50px
    path
      fill: white
  &-background
    position: absolute
    z-index: -1
    width: 100vw
    height: 209px
    background-color: black
    left: 50%
    transform: translate(-50%, 0%)
