.product
  border: 1px solid black
  &-slideshow
    border: 1px solid black
  &-header
    display: flex
    justify-content: space-between
    border: 1px solid black
    &-status
      border: 1px solid black
      &-tags
        ul
          display: flex
          flex-wrap: wrap
          li
            display: inline
            margin-right: 1%
            padding: 5px 30px
            background-color: $primary-color
            color: white
            font-size: 0.9rem
            border-radius: 10px

    &-detail
      text-align: right
      border: 1px solid red
  &-specs
    display: flex
    gap: 2%
    border: 1px solid black
