.product
  border: 1px solid black
  &-slideshow
    border: 1px solid black
  &-header
    display: flex
    justify-content: space-between
    border: 1px solid black
    &-status
      border: 1px solid black
      &-tags
        display: flex
        border: 1px solid black
    &-detail
      text-align: right
      border: 1px solid red
  &-specs
    display: flex
    border: 1px solid black
