.product
  &-slideshow
  &-header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    min-height: 160px
    padding: 15px 0
    @media screen and (max-width: map-get($breakpoints, mobile))
      flex-direction: column
    &-status
      width: 70%
      @media screen and (max-width: map-get($breakpoints, mobile))
        width: 100%
        h1
          font-size: 1.5rem
    &-detail
      width: 30%
      display: flex
      flex-direction: column
      align-items: flex-end
      padding: 20px 0
      @media screen and (max-width: map-get($breakpoints, mobile))
        width: 100%
        flex-direction: row-reverse
        align-items: center
        justify-content: space-between
  &-specs
    display: flex
    flex-direction: row
    gap: 2%
    @media screen and (max-width: map-get($breakpoints, mobile))
      flex-direction: column
